

@media only screen and (min-width: 320px) {
    .content-about {
        margin: 0 auto;
        width: 90%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding-top: 16px;
    }
    .education-skills {
        margin: 0 5%;
        display: flex;
        flex-direction: column;
    }
    .top-page {
        width: 90%;
    }
    .top-page p {
        font-weight: 100;
        font-size: 0.7em;
        margin: 0;
        padding: 0 4px;
    }    
    .education {
        width: 100%;
        text-align: start;
        margin-bottom: 16px;
    }
    .education h2 {
        font-weight: 400;
        font-size: 1em;
        margin: 0 16px 8px 8px;
        padding-bottom: 4px;
        text-align: start;
        border-bottom: 1px solid rgba(255, 255, 255, 0.329);
    }
    .education ul li {
        font-size: 10px;
        margin: 10px 4px;
        color: white;
    }
    .step-bar  {
        margin-top: 14px;
        margin-right: 4px;
    }
    #bigSteper {
        display: none;
    }
    .education h3 {
        font-weight: 600;
        margin: 0px 0px -11px 0px;
        padding: 0px 0px;
    }
    .li-education {
        display: flex;
        flex-direction: column;
        padding: 0 0px;
    }
    .skills-pagination {
        display: flex;
    }
    .skills {
        margin: 0px 0;
        width: 100%;
    }
    .skills h2 {
        font-weight: 400;
        font-size: 1em;
        margin: 0 16px 8px 8px;
        padding-bottom: 4px;
        text-align: start;
        border-bottom: 1px solid rgba(255, 255, 255, 0.329);
    }
    .skills ul li {
        color: white;
        font-size: 10px;
        font-weight: 400;
    }
    .ul-skills {
        display: flex;
        flex-direction: column;
        text-align: start;
        padding: 0 8px;
    }
    .ul-level {
        display: inline;
        line-height: 18px;
    }
    .ul-level li svg {
        width:130px;
        margin-right: 15px;
    }
}

@media only screen and (min-width: 480px) {
    .top-page {
        margin-top: 16px;
    }
}
@media only screen and (min-width: 768px) {
    .content-about{
        justify-content: flex-start;
    }
    .top-page {
        font-size: 1.8em;
    }
    .education {
        margin: 48px 0;
        font-size: 2.1em;
    }
    .education h3 {
        font-weight: 600;
    }
    .education ul  li{
        font-size: 1.1rem;
        margin-left: 16px;
    }
    .skills {
        font-size: 2.1em;
    }
    .skills ul li {
        font-size: 1.2rem;
    } 
    #smallSteper {
        display: none;
    }
    #bigSteper {
        display: block;
    }
    .ul-level {
        line-height: 32px;
    }
    .ul-level li {
        width: 400px;
    }
    .ul-level li svg {
        width: 300px;
    }
}

@media only screen and (min-width: 1024px) {
    .education-skills {
        display: flex;
        flex-direction: row;
        margin: 92px auto;
        width: 900px;
    }
    .top-page {
        font-size: 1.8em;
        width: 550px;
        margin: 32px 0 0 0;
    }
    .education-skills h2 {
        font-size: 1.6rem;
        border: none;
        margin-bottom: 0px;
    }
    .education-skills span svg {
        transform: translateY(4px);
    }
    .education-skills ul li {
        font-size:14px;
    }
    .education {
        margin: 0 0px 0 0px;
        width: auto;
    }
    .education ul li{
        margin: 12px 8px 30px 8px;
    }
    .education ul li h3 {
        font-weight: 600;
    }
    .ul-education {
        margin: 0px 0px 0px 16px;
    }
    .skills {
        width: 50%;
        padding-left: 104px;
    }
    .skills-pagination {
        margin-top: 4px;
    }
    .skills-pagination .ul-skills {
        transform: translate( 8px, -6px);
        padding: 0px;
    }
    .skills-pagination .ul-skills li {
        font-weight: 600;
        font-size: 16px;
        margin: 12.5px 0px;
    }
    .skills-pagination .ul-level {
        transform: translateX(-100px);
    }
    .skills-pagination .ul-level li {
        margin: 35px 0 0 0;
        line-height: 0px;
    }
}

@media only screen and  (min-width: 1280px){
    .top-page{
        margin-top: auto;
        font-size: 2em;
    }
    .education-skills {
        margin-top: auto;
    }
}