
@media only screen and (min-width: 320px) {
    * {
     color: rgba(255, 255, 255, 0.911);
    }
    .content-homepage {
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .there {
        font-weight: 100;
    }
    .img {
      width: 146px;
      height: 146px;
      border-radius: 50%;
      border: 1px solid rgba(0, 0, 0, 0.374);
      transform: translate(50px, -111px);
      background-image: url('./assets/me-nbg.png');
      background-size: cover;
      background-position:center ;
    }
    .image-box {
      box-shadow: 1px 0px 3px 1px rgba(0, 0, 0, 0.253);
      width: 260px;
      height: 200px;
      margin-top: 114px;
      border-radius:0.5em ;
      background-color: rgba(0, 0, 0, 0.18);
    }
    .icons-media {
      display: flex;
      justify-content: space-around;
      align-items: center;
      transform: translateY(16px);
      /* transform: translateY(-75px); */
    }
    .hello {
        font-weight: 100;
        font-size: 1.5em;
        margin: 8px 0;
    }
    .name-color {
        color: hsla(29, 100%, 50%, 0.952);
        font-weight: 600;
    }
    .subTitle {
        font-weight: 100;
        font-size: 1.1em;
    }
    .title {
        text-align: start;
        letter-spacing: 1px;
        margin: 0px 0px 0px 16px;
        padding: 0 8px; 
        transform: translateY(-170px);
    }
    .btn {
        margin-bottom: 24px;
        color: white;
        border: 1px solid  hsla(29, 100%, 50%, 0.952);
        background: rgba(128, 128, 128, 0);
        padding: 3px 32px;
        border-radius: 1.2em;
        font-size: 0.7em;
    }
    button:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: 200ms ease-in-out;
    }
    .arrow {
        position: absolute;
        opacity: 0;
    }
}
  
@media only screen and (min-width: 480px) {
    .image-box {
          width: 320px;
          height: 240px;
      }
      .icons-media {
        transform: translateY(24px);
      }
      .titlebtn{
          margin-top: -14px;
      }
      .button{
          margin-top:-32px ;
      }
      .title {
          width: 300px;
          transform: translateY(-186px);
      }
      .hello {
          display: flex;
          flex-direction: column;
          font-size: 1.24em;
          margin:0px;
      }
      .name-color {
        margin: 4px -2px;
        font-size: 1.4em;
      }
      .btn {
         padding: 6px 48px;
         font-size: 0.7em;
      }
      .icons-media div svg {
          width: 20px;
          height: 20px;
      }
}
  
@media only screen and (min-width: 768px) {
      .title {
          width: 500px;
          transform: translateY(-320px);
      }
      .hello {
          font-size: 1.7rem;
      }
      .btn {
        padding: 6px 64px;
        font-size: 0.8em;
    }
      .image-box {
          margin-top: 124px;
          width: 570px;
          height: 360px;
      }
      .icons-media {
        transform: translateY(62px);
      }
      .icons-media div  svg {
        width: 30px;
        height: 30px;
      }
      .img {
        width: 220px;
        height: 220px;
        transform: translate(180px, -170px);
      }
}
  
@media only screen and (min-width: 1024px) {
    .content-homepage {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
    }
    .arrow {
        position: absolute;
        top: 120px;
        left: 59px;
        opacity: 100%;
        transition: 1s ease-in-out;
    }
    .there {
        font-size: 1.9em;
        transform: translate(81px, 160px);
    }
    .image-box{
        width: 1000px;
        height: 500px;
        margin: 0;
        background-color: transparent;
        box-shadow: none;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-end;
        transform: translateY(88px);
        
    }
    .icons-media {
        /* border: 1px solid white; */
        width: 35px;
        display: flex;
        flex-direction: column;
        transform: translateY(12px);
    }
    .icons-media div {
        margin: 8px 0px 16px 16px;
    }
    .icons-media div svg {
        width: 22px;
    }
    .img {
        border-radius: 0;
        width: 450px;
        height: 400px;
        border: none;
        transform: translate(-0px, -0px) ;
    }
    .titlebtn {
        /* border: 1px solid black; */
        transform: translate(60px, -300px);
    }
    .button {
        margin: 0;
        transform: translate(90px, 110px);
        transition: 400ms ease-in-out;
    }
    .title {
        transform: translateY(0);
    }
    .hello {
       flex-direction: row;
       align-items: center;
       font-size: 1.9em;
    }
    .subTitle {
        font-size: 1.6em;
    }
    .name-color {
        margin-left: 10px;
    }
}

@media only screen and (min-width: 1280px) {
    .titlebtn {
        transform: translate(90px, -380px);
    }
    .there {
        transform: translate(111px, 80px);
    }
    .image-box {
        width: 1280px;
        transform: translateY(80px);
    }
    .img {
        width: 650px;
        height: 550px;
        transform: translateY(-0px);
    }
    .icons-media {
        margin-left: 16px;
    }
}