
@media only screen and (min-width: 320px) {

    .content-work {
        margin: 0 auto;
        width: 90%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding-top: 16px;
    }
    div section h2 {
        letter-spacing: 1.5px;
        font-weight: 400;
        font-size: 0.9rem;
        margin: 0 16px 0px 16px;
        padding-bottom: 4px;
        text-align: start;
        border-bottom: 1px solid rgba(255, 255, 255, 0.329);
    }
    .java-projects {
        width: 90%;
    }
    .java-links{
        display: flex;
        justify-content: space-around;
        width: 90%;
        margin: 0 auto;
        margin-top: 12px;
    }
    .java-links div {
        width: 100px;
        height: 120px;
        border: 1px solid white;
        margin: 8px 16px 8px 16px;
    }
    .java-links div:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: 300ms ease;
        opacity: 0.9;
    } 
    .dad-jokes {
        background-image: url('./assets/DadJoke.PNG');
        background-size: cover;
        background-position: center;
    }
    .vue-projects {
        width: 90%;
    }
    .vue-links{
        display: flex;
        justify-content: space-around;
        width: 90%;
        margin: 0 auto;
        margin-top: 12px;
    }
    .vue-links div {
        width: 100px;
        height: 120px;
        border: 1px solid white;
        margin: 8px 16px 8px 16px;
    }
    .react-projects {
        width: 90%;
    }
    .react-links{
        display: flex;
        justify-content: space-around;
        width: 90%;
        margin: 0 auto;
        margin-top: 12px;
    }
    .react-links div {
        width: 100px;
        height: 120px;
        border: 1px solid white;
        margin: 8px 16px 8px 16px;
    }
  }
  
  @media only screen and (min-width: 480px) {
      div section h2 {
          font-size: 1.4em;
      }

  }
  
  @media only screen and (min-width: 768px) {
    div section h2 {
        font-size: 1.6em;
    }
    .java-links {
        margin-top: 12px;
    }
    .java-links div {
        width: 100px;
        height: 200px;
    }
    .vue-links {
        margin-top: 12px;
    }
    .vue-links div {
        width: 100px;
        height: 200px;
    }
    .react-links {
        margin-top: 12px;
    }
    .react-links div {
        width: 100px;
        height: 200px;
    }

  }
  
  @media only screen and (min-width: 1024px) {
    .java-links div {
        width: 150px;
        height: 180px;
    }
    .vue-links div {
        width: 150px;
        height: 180px;
    }
    .react-links div {
        width: 150px;
        height: 180px;
    }
    
  }