@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif ;
}
body {
  background-image: url('./assets/backgroundm.jpg') ;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat; 
}
.App { 
  text-align: center;
  height: 100%;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;

}
a:focus {
  border-bottom: 1px solid rgb(0, 255, 21);
}
ul li {
  text-shadow: none;
}
.wrapper-box {
  min-height: 520px;
  background-color: rgba(24, 24, 24, 0.71) ;
  width: 90%;
  height: 90%;
  border-radius: 12px;
  box-shadow: 1px 1px 6px 1px rgba(255, 255, 255, 0.253);
  position: absolute;
  left: 5%;
  z-index: -1;
}
@media only screen and (min-width: 320px) {
  .navigation-bar {
    margin: 8px 0px;
  }
  ul {
    margin: 0px 0px;
  }
  ul li {
    margin: 4px 8px;
    font-size: 0.7rem;
    font-weight: 100;
  }
  
}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {
  .navigation-bar {
    margin: 16px 0px;
  }
  ul li {
    font-size: 1rem;
    margin: 4px 24px;
  }
}

@media only screen and (min-width: 1024px) {
  .navigation-bar {
    margin: 8px 0px;
  }
  ul li {
    font-size: 0.8rem;
    margin: 4px 48px;
    text-shadow: 6px 5px 8px rgba(0, 0, 0, 0.527);
  }
  .page-box {
    width: 1000px;
    text-align: center;
    margin: 16px auto; 
    position: relative;
}
  .wrapper-box {
    width: 1000px;
    margin: 0 auto;
    left: 0%;
    height: 100%;
  }

}